<div class="row">
  <div class="col-lg-6 d-flex align-items-center">
    @defer (on viewport) {
      <img @bounce src="about_area.png" class="img-fluid" alt="">
    }@placeholder {
      <span>Image</span>
    }
  </div>
  <div class="col-lg-6 pt-5">
    <h2 class="fw-bold">World Largest <span class="text-main">Car <br> Dealer</span> Marketplace.</h2>
    <p class="text-muted fs-6 pe-5 mb-4">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour.</p>
    <ul class="list-unstyled pt-1 mb-4">
      <li><mat-icon color="primary">check_circle</mat-icon>At vero eos et accusamus et iusto odio.</li>
      <li><mat-icon color="primary">check_circle</mat-icon>Established fact that a reader will be distracted.</li>
      <li><mat-icon color="primary">check_circle</mat-icon>Sed ut perspiciatis unde omnis iste natus sit.</li>
    </ul>
    <button mat-flat-button  routerLink="/about">DISCOVER MORE</button>
  </div>
</div>
