<h2>More Questions You May Have</h2>

<cdk-accordion class="accordion">
  @for (item of items; track item; let index = $index) {
  <cdk-accordion-item #accordionItem="cdkAccordionItem" class="accordion-item" role="button" tabindex="0"
    [attr.id]="'accordion-header-' + index" [attr.aria-expanded]="accordionItem.expanded"
    [attr.aria-controls]="'accordion-body-' + index"
  >
    <div class="accordion-item-header bg-main text-white fw-medium" (click)="accordionItem.toggle()">
      {{ item.question }}
      <span class="accordion-item-description">
        <mat-icon>{{ accordionItem.expanded ? "keyboard_arrow_down" : "keyboard_arrow_right" }}</mat-icon>
      </span>
    </div>

    <div
      class="accordion-item-body bg-main-light" role="region"
      [style.display]="accordionItem.expanded ? '' : 'none'" [attr.id]="'accordion-body-' + index"
      [attr.aria-labelledby]="'accordion-header-' + index"
    >
      {{item.answer}}
    </div>

  </cdk-accordion-item>
  }
</cdk-accordion>
