@defer  {
@if (dataSource().data.length > 0) {

  <div @slideIn class="container my-4">
    <h1 class="text-center">Your Cart</h1>
    <div class="mat-elevation-z2 table-responsive mb-3">
      <table mat-table [dataSource]="dataSource()" class="table-responsive-lg" >

        <ng-container matColumnDef="car">
          <th mat-header-cell *matHeaderCellDef>Name</th>
          <td mat-cell *matCellDef="let car" >
            <div class="d-flex align-items-center gap-2">
              <img [src]="car.imageUrl" [alt]="car.name">
              <span class="text-main fs-6 fw-medium">{{ car.name }}</span>
            </div>
          </td>
        </ng-container>

        <ng-container matColumnDef="selectedColor">
          <th mat-header-cell *matHeaderCellDef>Color</th>
          <td mat-cell *matCellDef="let car"> {{car.selectedColor}} </td>
        </ng-container>
        <ng-container matColumnDef="price">
          <th mat-header-cell *matHeaderCellDef>price</th>
          <td mat-cell *matCellDef="let car" class="fs-6 fw-medium text-alt">{{car.price | currency:'USD':'symbol':'1.0-0'}}</td>
        </ng-container>
        <ng-container matColumnDef="total">
          <th mat-header-cell *matHeaderCellDef>Total Price</th>
          <td mat-cell *matCellDef="let car" class="fs-6 fw-medium text-alt">{{(car.price * car.quantity) | currency:'USD':'symbol':'1.0-0'}}</td>
        </ng-container>
        <ng-container matColumnDef="pickupDate">
          <th mat-header-cell *matHeaderCellDef>Pickup Date</th>
          <td mat-cell *matCellDef="let car">{{car.pickupDate | date}}</td>
        </ng-container>

        <ng-container matColumnDef="quantity">
          <th mat-header-cell *matHeaderCellDef>Quantity</th>
          <td mat-cell *matCellDef="let car; let index = index" >
            <div class="d-flex align-items-center justify-content-center">
              <button mat-icon-button color="primary" (click)="onIncrement(index, car)" class="mat-elevation-z1"><mat-icon>add</mat-icon></button>
              <span class="mx-2 fs-5 fw-medium text-main">{{ car.quantity }}</span>
              <button mat-icon-button color="primary" (click)="onDecrement(index, car)" [disabled]="car.quantity === 0" class="mat-elevation-z1"><mat-icon>remove</mat-icon></button>
            </div>
          </td>
        </ng-container>

        <ng-container matColumnDef="delete">
          <th mat-header-cell *matHeaderCellDef></th>
          <td mat-cell *matCellDef="let car; let index = index">
            <button mat-icon-button color="warn" (click)="onDelete(index)"><mat-icon>delete</mat-icon></button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>

      <mat-paginator [pageSizeOptions]="[5, 10, 20]" ></mat-paginator>
    </div>
    <button mat-flat-button class="fs-5 py-4">Checkout <mat-icon>payments</mat-icon></button>
  </div>

}@else {
  <div @slideIn class="flex-center flex-column empty-cart">
    <img src="empty_cart.png" class="" alt="Black Car">
    <h1 class="text-center">Your Cart Is <br> Empty</h1>
  </div>
}
} @placeholder(minimum 1s) {
  <img class="position-fixed top-0 start-0 bottom-0 end-0 w-100 h-100 z-3" src="black_car.png" />
  <div class="overlay"><mat-spinner></mat-spinner></div>
}
