:host {
  display: block;
  padding-top: 2rem;
  padding-bottom: 4rem;
}
.empty-cart {
  padding-top: 4rem;
  padding-bottom: 2rem;
  width: 100%;
  gap: 1rem;
}

table img {
  width: 6rem;
}

table {
  td, th {
    text-align: center;
  }
  td {
    padding-top: .5rem;
    padding-bottom: .5rem;
  }
}
