<div class="row g-2">
  <div class="col-md-6 position-relative">
    <img src="sales/1.png" class="img-fluid mat-elevation-z10 rounded-2" alt="">
    <div class="content text-white">
      <h4 class="fw-bold">Electric Cars</h4>
      <p class="fs-5 fw-medium mb-4">
        Take it to the next level. <br> Join the electric revolution.
      </p>
      <button mat-flat-button color="accent" routerLink="/cars">View Cars</button>
    </div>
  </div>
  <div class="col-md-6 position-relative">
    <img src="sales/2.png" class="img-fluid mat-elevation-z10 rounded-2" alt="">
    <div class="content text-white">
      <h4 class="fw-bold">Business Cars</h4>
      <p class="fs-5 fw-medium mb-4">
        The world moves fast. <br> So can you.
      </p>
      <button mat-flat-button color="primary" routerLink="/cars">View Cars</button>
    </div>
  </div>
</div>
