@import './styles/material';
@import 'ngx-owl-carousel-o/lib/styles/scss/owl.carousel';
@import 'ngx-owl-carousel-o/lib/styles/scss/owl.theme.default';

$main: #43766c;
$main-light: #CFE6E2;
$main-black: #0d1816;
$alt: #B19470;
$my-light: #F8FAE5;

$transition: .2s;

:root {
  --main-color: #43766c;

  --mat-toolbar-container-text-color: var(--main-color);
  --mat-menu-item-label-text-color: var(--main-color);
  --mdc-plain-tooltip-container-color: var(--main-color);
  --mdc-plain-tooltip-supporting-text-color: #fff;
  --mat-select-panel-background-color: #ecf1f0;
  --mat-option-selected-state-layer-color: #CFE6E2;
  --mat-datepicker-calendar-container-background-color: #ecf1f0;
  // ----mat-app-text-color: #43766c;
}

body {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  color: $main-black !important;
}

$colors: (
  'main': $main,
  'my-light': $my-light,
  'alt': $alt,
  'main-light': $main-light,
  'main-black': $main-black,
);

@each $name, $color in $colors {
  .bg-#{$name} {
    background-color: $color !important;
  }

  .text-#{$name} {
    color: $color !important;
  }
}

.transition {
  transition: $transition;
}

.cursor-pointer {
  cursor: pointer;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba($color: black, $alpha: .75);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 99990;
}

.main-title {
  position: relative;
  padding-bottom: .25rem;
  margin-bottom: 1.5rem !important;
  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 3rem;
    height: .2rem;
    border-radius: 50rem;
    background-color: $main;
  }
}

.active-link {
  background-color: #C4DDD9 !important;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-middle {
  display: flex;
  align-items: center;
}

.success-toast {
  .mdc-snackbar__surface {
    background-color: #4caf50 !important;
  }
}

.error-toast {
  .mdc-snackbar__surface {
    background-color: #f44336 !important;
  }
}

.info-toast {
  .mdc-snackbar__surface {
    background-color: #2196f3 !important;
  }
}

.success-toast, .error-toast, .info-toast {
  .mdc-snackbar__label, .mat-mdc-button {
    color: white !important;
  }
}

.mat-mdc-table{
  th {
    background-color: $main-light !important;
    color: $main;
  }
  td {
    color: $main-black;
  }
}


::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: $main-light;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: $main;
  border-radius: 10px;
  border: 2px solid $main-light;
}

::-webkit-scrollbar-thumb:hover {
  background-color: darken($main, 10%);
}

::-webkit-scrollbar-thumb:active {
  background-color: lighten($main, 10%);
}
